@import "./fonts";
@import "./base";
@import "./mixin";

body, html {
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.cmass {
   height: 100%;
   &-inner {
    min-width: 172rem;
    margin: 0 auto;
    padding: 0 2rem;
   }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  @include tablet {
    padding: 3rem;
  }
  &-card {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 36.5rem;
    height: 72.5rem;
    border-radius: 4.6rem;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    @include laptop {
      border-radius: 3.5rem;
    }
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 10%;
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
    }
    &_list {
      display: flex;
      gap: 3.3rem;
      @include tablet {
        gap: 2rem;
      }
      li {
        @include tablet {
          height: 23%;
          &:first-child {
            height: 42%;
          }
        }
      }
      @include tablet {
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
    }
    
    @include laptop {
      width: 26.8rem;
      height: 54.8rem;
    }
    h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Paperlogy", sans-serif;
      font-weight: 700;
      font-size: 5.5rem;
      color: #fff;
      text-shadow: 0 2px 0 rgba(0,0,0,.3);
      @include laptop {
        font-size: 4rem;
      }
      @include tablet {
        font-size: 4rem;
      }
      @include mobile {
        font-size: 2.8rem;
      }
    }
    &_link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      width: 14.4rem;
      height: 5rem;
      margin-top: 1rem;
      border-radius: 4rem;
      background-color: #fff;
      font-weight: 700;
      font-size: 2.2rem;
      color: #333;
      box-shadow:
        0 6px 14px rgba(0,0,0,.22),
        0 1px 3px rgba(0,0,0,.18),
        inset 0 2px 6px rgba(0,0,0,.12),
        inset 0 -2px 6px rgba(0,0,0,.06);
      @include laptop {
        width: 10.4rem;
        height: 3.6rem;
        margin-top: 1.4rem;
        padding-top: 0.2rem;
        font-size: 1.6rem;
      }
      @include tablet {
        width: 10rem;
        height: 3.6rem;
        font-size: 1.4rem;
        margin-top: 0;
      }
      @include mobile {
        gap: 0.4rem;
        width: 8rem;
        margin-top: 0;
        font-size: 1.2rem;
      }
      img {
        width: 1.6rem;
        @include laptop {
          width: 1.3rem;
        }
        @include tablet {
          width: 1.3rem;
        }
        @include mobile {
          width: 1rem;
        }
      }
    }
    &01 {
      z-index: 4;
      justify-content: flex-start;
      width: 48.6rem;
      background: url(../images/intro/bg-card01.png) no-repeat center / cover;
      @include laptop {
        width: 35.8rem;
      }
      @include tablet {
        align-items: flex-start;
        width: 100%;
      }
      h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56.5rem;
        @include laptop {
          height: 40rem;
        }
        @include tablet {
          width: 100%;
          height: 75%;
        }
      }
      &--bg {
        @include tablet {
          position: absolute;
          width: 100%;
          height: 25%;
          left: 0;
          bottom: 0;
          background: #1A1A3F url(../images/intro/bg-card01_tablet.png) no-repeat center / cover;
        }
      }
    }
    &02 {
      z-index: 3;
      background: url(../images/intro/bg-card02.png) no-repeat center / cover;
      @include tablet {
        background: url(../images/intro/bg-card02_tablet.png) no-repeat center / cover;
      }
    }
    &03 {
      z-index: 2;
      background: url(../images/intro/bg-card03.png) no-repeat center / cover;
      @include tablet {
        background: url(../images/intro/bg-card03_tablet.png) no-repeat center / cover;
      }
    }
    &04 {
      z-index: 1;
      background: url(../images/intro/bg-card04.png) no-repeat center / cover;
      @include tablet {
        background: url(../images/intro/bg-card04_tablet.png) no-repeat center / cover;
      }
    }
    &--bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      & > div {
        position: absolute;
        opacity: 0;
      }
      img {
        width: 100%;
      }
      &02 {
        &_item01 {
          top: 0;
          left: 0;
          transform: translateY(200px);
          width: 100%;
          height: 100%;
          background: url(../images/intro/bg-card0201.png) no-repeat center top/ cover;
          @include tablet {
            background: url(../images/intro/bg-card0201_tablet.png) no-repeat center top/ cover;
            opacity: 1;
          }
          @include mobile {
            background: url(../images/intro/bg-card0201.png) no-repeat center top/ cover;
          }
        }
        &_item02 {
          transform: translateY(200px);
          bottom: 0;
          width: 21.7rem;
          height: 20.2rem;
          background: url(../images/intro/bg-card0202.png) no-repeat center top/ cover;
          @include laptop {
            width: 16rem;
            height: 14.9rem;
          }
          @include tablet {
            width: 9.1rem;
            height: 7.6rem;
            transform: translate(-100%, 0);
          }
          @include mobile {
            width: 25%;
            height: 36%;
          }
        }
      }
      &03 {
        &_item01 {
          top: 0;
          right: 0;
          transform: translateY(-200px);
          width: 21rem;
          height: 20.1rem;
          background: url(../images/intro/bg-card0301.png) no-repeat center top/ cover;
          @include laptop {
            width: 15.4rem;
            height: 14.8rem;
          }
          @include tablet {
            display: none
          }
        }
        &_item02 {
          top: 11.2rem;
          left: 0;
          transform: translateY(100%);
          width: 100%;
          height: 85%;
          background: url(../images/intro/bg-card0302.png) no-repeat center top/ cover;
          @include laptop {
            margin-top: -3rem;
          }
          @include tablet {
            transform: translate(-100%, 0);
            top: 0;
            height: 100%;
            background: url(../images/intro/bg-card0302_tablet.png) no-repeat right top / cover
          }
        }
        &_item03 {
          bottom: 0;
          right: 0;
          transform: translateX(200px);
          width: 21rem;
          height: 20.2rem;
          background: url(../images/intro/bg-card0303.png) no-repeat center top/ cover;
          @include laptop {
            width: 15.4rem;
            height: 14.8rem;
          }
          @include tablet {
            transform: translate(0, 100%);
            opacity: 1;
            width: 8.5rem;
            height: 5.5rem;
          }
          @include mobile {
            width: 15%;
            height: 25%;
          }
        }
      }
      &04 {
        &_item01 {
          width: 100%;
          height: 100%;
          background: url(../images/intro/bg-card0401.png) no-repeat center top/ cover;
          transform: rotate(-225deg);
          @include laptop {
            background: url(../images/intro/bg-card0401_laptop.png) no-repeat left top/ cover;
          }
          @include tablet {
            transform: translateX(50%);
            background: url(../images/intro/bg-card0401_tablet.png) no-repeat left top/ cover;
          }
        }
        &_item02 {
          bottom: 0;
          transform: translateX(-200px);
          width: 30.4rem;
          height: 20.2rem;
          background: url(../images/intro/bg-card0402.png) no-repeat center top/ cover;
          @include laptop {
            width: 22.4rem;
            height: 14.9rem;
          }
          @include tablet {
            right: 0;
            transform: translate(0, 100%);
            width: 9rem;
            height: 10.4rem;
            background: url(../images/intro/bg-card0402_tablet.png) no-repeat left top/ cover;
          }
          @include mobile {
            width: 12%;
            height: 40%;
             background: url(../images/intro/bg-card0402_mobile.png) no-repeat left top/ cover;
          }
        }
      }
    }
  }

  .text {
    &-card0101 {
      width: 13.6rem;
      margin-top: 3rem;
      @include laptop {
        width: 9.4rem;
      }
      @include tablet {
        width: 9.5rem;
      }
      @include mobile {
        width: 5.9rem;
        margin-top: 1rem;
      }
    }
    &-card0102 {
      width: 26rem;
      margin-top: -1rem;
      @include laptop {
        width: 16rem;
        margin-top: 0;
      }
      @include tablet {
        width: 15rem;
        margin-top: 0;
      }
      @include mobile {
        width: 10rem;
      }
    }
  }
}